<div class="page-header">
    <h1>用户管理</h1>
</div>
<%= will_paginate :class=>"apple_pagination" %>
<table class="zebra-striped">
    <thead><tr><th>头像</th><th>姓名</th><th>邮件</th><th>职位</th><th>删除</th></tr></thead>
    <tbody>
<% @users.each do |user| %>
    <tr><%= render user %></tr>
<% end %>
    </tbody>
</table>
<%= will_paginate :class=>"apple_pagination" %>