<div class="page-header">
    <h1>联系我们</h1>
</div>
<img src="/images/map.png" class="thumbnail pull-right">
<ul class="unstyled">
    <li>广告经理 <%=mail_to "liuhua@esquire.com", "韩露", :encode=>"javascript"%></li>
    <li>策划主管 <%=mail_to "liuhua@esquire.com", "刘华", :endoce=>"javascript"%></li>
    <li>Email: <%=mail_to "esquire@trends.com.cn"%></li>
    <li>电话：010-65871111(总机)</li>
    <li>地址：北京朝阳区光华路9号时尚大厦24层　邮编：100020</li>
</ul>
<div style="clear:right"></div>