<div class="hero-unit">
    <h1><img src="/assets/images/esquire-gray.png" alt="esquire-logo" class="logo"> HUB<span class="label important">beta</span></h1>
    <blockquote>
    <p>Esquire HUB  是<strong>时尚先生</strong>杂志创意营销部内部管理系统，用于优化项目执行效率及规划执行流程。该系统强化广告部与策划部沟通效率，追踪策划执行过程，集中管理报销几作者资源。</p>
    <small class="pull-right">时尚先生创意营销部主管<strong>刘华</strong></small>
    </blockquote>
    <p><%= link_to "注册", signup_path, :class => "btn primary large" %> </p>
</div>
<div class="row">
    <div class="span6">
        <h2>稿签管理</h2>
        <p><a href="/assets/images/screenshots/articles.png" title="稿签管理" class="show_modal_image"><img src="/assets/images/screenshots/articles-thumb.gif"></a></p>
    </div>
    <div class="span5">
        <h2>报销管理</h2>
        <p><a href="/assets/images/screenshots/expenses.png" title="报销管理" class="show_modal_image"><img src="/assets/images/screenshots/expenses-thumb.gif"></a></p>
    </div>
    <div class="span5">
        <h2>联系人管理</h2>
        <p><a href="/assets/images/screenshots/contacts.png" title="联系人管理" class="show_modal_image"><img src="/assets/images/screenshots/contacts-thumb.gif"></a></p>
    </div>
</div>
<div id="intro-image-modal" class="modal hide fade">
    <div class="modal header">
        <a href="#" class="close">x</a>
        <h3>title</h3>
    </div>
    <div class="modal body">
        <p></p>
    </div>
</div>