<footer class="footer">
    <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>
            Code &amp; Design by <%= mail_to "prof.syd.xu@gmail.com", "Prof Syd Xu", :encode => "javascript", :subject => "[Esquire Ads HUB]"%>. This certificate is only used inside <%=link_to "Esquire magazine press (china)", "http://esquiretrends.com.cn/esquire/", :target=>"_blank"%>.<br/>
            Esquire Hub 由 <%=link_to "heroku", "http://heroku.com", :target=>"_blank"%> 云驱动.
        </p>
    </div>
</footer>